
*.ini
src/test/java/io/cucumber/skeleton/WebStepDefinitions.java
target/test-classes/io/cucumber/skeleton/login.feature
target/test-classes/io/cucumber/skeleton/WebStepDefinitions.class
target/test-classes/io/cucumber/skeleton/login.feature
src/test/java/io/cucumber/skeleton/WebStepDefinitions.java
.idea/runConfigurations.xml
